<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <div class="row">
      <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
        <input class="validate" type="text" name="name" #Email="ngModel" [(ngModel)]="user.name" required>
        <label data-error="Invalid name!">Full Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
        <input class="validate" type="text" name="email" #Email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern">
        <label data-error="Invalid email!">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
          <i class="material-icons prefix">vpn_key</i>
        <input class="validate" type="password" name="password" #Password="ngModel" [(ngModel)]="user.password" required  minlength="3">
        <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
      </div>
      <div class="input-field col s6">
          <input class="validate" type="password" name="password_confirmation" #Password="ngModel" [(ngModel)]="user.password_confirmation" required  minlength="3">
          <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password Confirmation</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Register</button>
        </div>
      </div>
</form>